@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');

.authBackgroundImg {
    width: 100%;
    position: absolute;
    z-index: -1;
}


.auth,
.auth form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 2em;
}

.auth form {
    background-color: var(--color-primary-transparent);
    padding: 2vw;
    border-radius: 10px;
}

.auth {
    /* background-image: url('../img/library-background-ireland.jpg'); */
    /* background-repeat: no-repeat; */
    /* background-size: cover; */
    color: white;
    padding: 2em;
    height: 100%;
}

.auth__title {
    font-family: 'PT', serif;
    font-size: 5vw;
}

.auth__control {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.auth__control > input {
    min-width: 20vw;
    max-height: 3vw;
    padding: 10px 10px;
    border: 3px solid rgba(64, 59, 59, 0.562);
    border-radius: 5px;
    outline: none;
    margin-left: 2vw;
}

.auth__control > input:focus {
    border: 3px solid rgb(64, 59, 59);
}

.auth__control > label {
    font-size: 2vw;
    font-family: 'PT', serif;
}

.auth__submitBtn {
    background-color: var(--color-secondary);
    padding-inline: 1em;
    padding-block: .5em;   
    display: inline;
    border: none;
    font-size: 2vw;
    color: white;
    font-family: 'PT', serif;
}

.auth__toggle {
    font-size: 1.5vw;
    color: white;
}