.comments {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

.comments-title {
  font-size: 2vw;
  margin-bottom: 20px;
}

.comments-container {
  margin-top: 40px;
  overflow-x: hidden;
  overflow-y: auto;
  height: 300px;
}

.comment-form-title {
  font-size: 22px;
}

.comment-form-textarea {
  width: 100%;
  height: 3em;
  padding: 10px 10px;
  border: 3px solid rgba(64, 59, 59, 0.562);
  border-radius: 5px;
  outline: none;
  overflow-y: visible;
  resize: none;
}

.comment-form-textarea:focus {
  border: 3px solid rgb(64, 59, 59);
}


.comment-form-button {
  font-size: 16px;
  padding: 8px 16px;
  background: rgb(59, 130, 246);
  border-radius: 8px;
  color: white;
}

.comment-form-button:hover:enabled {
  cursor: pointer;
  background: rgb(37, 99, 235);
}

.comment-form-button:disabled {
  opacity: 0.7;
  cursor: default;
}

.comment-form-cancel-button {
  margin-left: 10px;
}

.comment {
  display: flex;
  margin-bottom: 28px;
}

.comment-image-container img {
  border-radius: 50px;
}

.comment-right-part {
  width: 100%;
}

.comment-content {
  display: flex;
}

.comment-text {
  font-size: 18px;
  text-align: left;
  margin: 10px;
}

.comment-actions {
  display: flex;
  font-size: 12px;
  color: rgb(51, 51, 51);
  cursor: pointer;
  margin-top: 8px;
}

.comment-action {
  margin-right: 8px;
}

.comment-action:hover {
  text-decoration: underline;
}

.replies {
  margin-top: 20px;
}

.comment-image-container {
  width: 40px;
  height: 40px;
  background-color: #ddd;
  background-image: url('../img/user_comment_icon.png');
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 50%;
  margin-right: 1rem;
}

.comment-author {
  font-weight: bold;
  margin-right: 0.5rem;
}

@media screen and (max-width: 500px) {
  .descriptionModal, .commentsModal {
    width: 100%;
  }

  .comment, .comment-text {
    font-size: .8rem;
  }
}
