.overlay, .commentsOverlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  -webkit-transition: opacity 500ms;
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
  z-index: 10;
}

.modal-active, .commentsModal-active {
  visibility: visible;
  opacity: 1;
}

.descriptionModal, .commentsModal {
  position: relative;
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 40%;
  -webkit-transition: all 0.52s ease-in-out;
  transition: all 0.52s ease-in-out;
  overflow-y: auto;
}

.descriptionModal>h3 {
  padding: 1em;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}

.descriptionModal__close, .commentsModal__close {
  position: absolute;
  top: 10px;
  right: 20px;
  -webkit-transition: all 200ms;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
  font-size: 2em;
  cursor: pointer;
}

.descriptionModal__close:hover, .commentsModal__close:hover {
  color: #06d85f;
  cursor: pointer;
}

.descriptionModal__header {
  margin-block: 1em ;
}

.descriptionModal__headerTitle {
  font-style: italic;
}

.descriptionModal__content {
  max-height: 30%;
  word-break: break-word;
}

.descriptionModal__text {
  line-height: 3ch;
  text-align: justify;
  margin-inline: 1em;
}

@media screen and (max-width: 820px) {
  .descriptionModal, .commentsModal {
    margin: 0;
    width: 100%;
    height: 100vh;
  }
}