.loading-card {
  margin: 10px;
  background: #fff;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  background-color: #e0e0e0;
  border-radius: 1rem;
  padding: 1rem;
  transition: 0.2s ease-in-out;
  -webkit-transition: 0.2s ease-in-out;
}

.loading-card button:not(:last-of-type) {
  display: block;
  margin: 10px auto;
}

.loading-card button {
  border: none;
  background: none;
  cursor: pointer;
}

.loading-card button:hover {
  text-shadow:  1px 1px 10px #656565, -1px -1px 5px #656565;
}


.loading-card h4, .loading-card button {
  text-align: center;
  font-weight: bold;
  font-size: 1rem;
}

.changeStatus__btn {
  background-color: var(--color-secondary) !important;
  border-radius: 5px;
  padding: 5px;
  color: #ffffff;
}

.loading-card .image {
  height: 12rem;
  width: 8rem;
  margin: 0 auto;
  border-radius: 0.5rem;
}

.loading-card .content {
  padding: 20px 30px;
}

.loading-card .image,
.loading-card h2,
.loading-card p {
  background: #eee;
  background: linear-gradient(110deg, #ececec 8%, #f5f5f5 18%, #ececec 33%);
  border-radius: 5px;
  background-size: 200% 100%;
  margin: 0.5rem auto;
  -webkit-animation: 1.5s shine linear infinite;
  animation: 1.5s shine linear infinite;
}

.loading-card h2 {
  height: 30px;
}

.loading-card p {
  height: 20px;
  width: 80%;
  margin: 0.4rem auto;
}

.loading-card>div>div {
  margin-block: 10px;
}

.loadingCard__hr {
  border: none;
  border-bottom: 1px solid #1f1209;
  margin: 1em auto;
}

.loading-card:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}



@-webkit-keyframes shine {
  to {
    background-position-x: -200%;
  }
}

@keyframes shine {
  to {
    background-position-x: -200%;
  }
}