.loadingLayer {
  position: fixed;
}

.loadingLayer--modal {
  position: absolute;
}
.loadingLayer, .loadingLayer--modal {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 40;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 228, 196, 0.672);
}


.loadingLayer__motion {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.loadingLayer__motion div {
  position: absolute;
  width: 6px;
  height: 6px;
  background: var(--color-secondary);
  border-radius: 50%;
  animation: loadingLayer 1.2s linear infinite;
}

.loadingLayer__motion div:nth-child(1) {
  animation-delay: 0s;
  top: 37px;
  left: 66px;
}

.loadingLayer__motion div:nth-child(2) {
  animation-delay: -0.1s;
  top: 22px;
  left: 62px;
}

.loadingLayer__motion div:nth-child(3) {
  animation-delay: -0.2s;
  top: 11px;
  left: 52px;
}

.loadingLayer__motion div:nth-child(4) {
  animation-delay: -0.3s;
  top: 7px;
  left: 37px;
}

.loadingLayer__motion div:nth-child(5) {
  animation-delay: -0.4s;
  top: 11px;
  left: 22px;
}

.loadingLayer__motion div:nth-child(6) {
  animation-delay: -0.5s;
  top: 22px;
  left: 11px;
}

.loadingLayer__motion div:nth-child(7) {
  animation-delay: -0.6s;
  top: 37px;
  left: 7px;
}

.loadingLayer__motion div:nth-child(8) {
  animation-delay: -0.7s;
  top: 52px;
  left: 11px;
}

.loadingLayer__motion div:nth-child(9) {
  animation-delay: -0.8s;
  top: 62px;
  left: 22px;
}

.loadingLayer__motion div:nth-child(10) {
  animation-delay: -0.9s;
  top: 66px;
  left: 37px;
}

.loadingLayer__motion div:nth-child(11) {
  animation-delay: -1s;
  top: 62px;
  left: 52px;
}

.loadingLayer__motion div:nth-child(12) {
  animation-delay: -1.1s;
  top: 52px;
  left: 62px;
}

@keyframes loadingLayer {

  0%,
  20%,
  80%,
  100% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.5);
  }
}