.scroll-to-top {
    position: fixed;
    bottom: 0.5rem;
    right: 0.5rem;
    -webkit-animation: fadeIn 700ms ease-in-out 1s both;
    animation: fadeIn 700ms ease-in-out 1s both;
    cursor: pointer;
    width: 50px;
    height: 50px;
  }
  
  .scroll-icon {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 50%;
    background: #0d1117;
    fill: white;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
  }